<div class="container">
  <h1>Single list</h1>

<%= @list.name %>

<h3>Bookmarks</h3>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.comment %>
      <%= bookmark.movie %>
         <%# <%= link_to "Delete", bookmark_path(list_id), method: :delete, class: 'card-remove-link', data: { confirm: "Are you sure you want to delete bookmark?" } %>
      <% end %>
  </li>
</ul>

  <%= link_to "Create Bookmark", new_list_bookmark_path(@list)  %>

  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>


</div>
